.draggable {
    position: absolute;

    display: inline-block;
    text-align: center;
}
.image-container-empty{
    width: 150px;
    height: 150px;
    background-color: #e8e8e8;
  border: solid;
  border-width: thin;
}
.image-container-filled{

}
.centered-text {
    position: relative;
    width: 100%;
    bottom: 0px; /* Ajusta la distancia desde el fondo de la imagen */
    left: 0;
    color: #000000; /* Color del texto */
    font-family: Arial, sans-serif; /* Estilo de fuente */
  }
.draggable img{
    width: 100%;
    height: auto;
}
.handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: gray;
    cursor: move;
}
.boton-mas {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f3f3f3;
  border: dashed;
  border-radius: 50%;
  border-width: thin;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#imgs_container {
  position: relative;
  width: 1200px;
  height: 900px;
  background-color: #f3f3f3;
}

.run-button{

  position: relative;
  width: 50px;
  height: 30px;
  background-color: #ff8989;
  top: 0;
  left: 0%;
}

.new-button{

  position: relative;
  width: 50px;
  height: 30px;
  background-color: #ff8989;
  top: 0;
  left: 10px;
}
