{% extends "base.html" %}
{% load static %}

{% block extra_head %}

<link rel="stylesheet" href="{% static 'canvas/dragging.css' %}">
{% endblock %}


{% block content %}
<div id="imgs_container">
    <button class="run-button" onclick="runProcess()">Run</button>
    <button class="new-button" onclick="newProcess()">New</button>
</div>


{% endblock content %}


{% block extra_script %}
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

    <script src="{% static 'canvas/consistency.js' %}"></script>
    <script src="{% static 'canvas/images.js' %}"></script>
    <script src="{% static 'canvas/dragging.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}