
.canvas-container {

  height: 500px;
  border: 1px solid #ccc;
  background: #f8faff;
            position: relative;
}
.menu-container {
    overflow: auto;
  height: 500px;
  border: 1px solid #ccc;
  background: #f8faff;

}
.config-container {
  height: 200px;
  border: 1px solid #ccc;
  background: #f8faff;
            position: relative;
}
.draggable {
            cursor: move;
        }
.arrow {
            cursor: grab;
        }
.selected{
    filter: drop-shadow(0px 0px 4px #e3ca00);
}