
.canvas-container {

  height: 500px;
  border: 1px solid #ccc;
  background: #f8faff;
            position: relative;
}
.menu-container {

  height: 500px;
  border: 1px solid #ccc;
  background: #f8faff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
}
.draggable {
            cursor: move;
        }
.arrow {
            cursor: grab;
        }